html{
    font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    box-sizing: border-box;
    margin: 0px;
    background-color: gray;
}

#formv{
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

#formv img{
    width: 100px;
    border-radius: 6px;
}

#formv h2{
    color: #111;
    margin-bottom: 0px;
    margin-top: 10px;
}

#formv p{
    color: #777;
}